@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Mochiy+Pop+P+One&family=Poppins:wght@400;600&display=swap');
@media (min-width: 500px) {
    .details{
       font-size: -10px;
       padding-top: 20px;
    }
}
body{
    font-family: 'Poppins', sans-serif;

}
.button-clr{
    width: 150px;
    border: none;
    height: 40px;
}
.choose-btn{
    color: #3F87F5;
    width: 180px;
    height: 30px;
}
.bold-text{
    font-weight: bolder;
}
.font-clr{
    color:  #848199;
}
.font-size{
    font-size: 12px;
}
.blue-card{
    background-color: #3F87F5;
    color:  #FFFFFF;
    z-index:  2;
    position: relative;
    bottom: 30px;
    border-radius:  20px;
}
.cards{
    z-index: 1;
    position: relative;
}
.hot{
    background-color:  red;
    width:  30px;
    padding:  5px;
    border-radius: 15px;
    position: absolute;
    bottom:  400px;
    left: 200px;
}
.toasty{
    display:  block;
}
.playstore-img{
    height:  40px;
}