@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Mochiy+Pop+P+One&family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.button-clr{
    width: 150px;
    border: none;
    height: 40px;
}